body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the card. 
Properties to experiment with:

border
padding
marging
height
width
*/
section {
    border: solid 1px rgb(107, 102, 102);
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    body{
        font-size: 1.2 em;
        background-color: aqua;
    }

}