h1{
    text-align: center;
    
    font-family: 'Chewy', cursive;
    font-size: 300%;
    color: #b59dd1;
}

h1 img{
   width: 8%;
   height: 8%;
}
.container{
    color: lavender;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 5fr .5fr;
    grid-template-areas: 
    "a a a"
    "b c d"
    "e e e";
    height: 100px;
    width: 100%;

    align-items: start;
}
body{
    size: 500px;
    margin: 0;
    height: 100vh;
}

.top{
    grid-area: a;
    background-color: #e0d2f1;
    height: 100%;
    width: 100%;
}

.bottom{
    grid-area: e;
    background-color: rgb(183, 158, 211);
    height: 100%;
    width: 100%;
    
}

.bottom button{
    background-color: #baa0d8 ;
    padding: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30%;
}

.card1{
    grid-area: b;
    background-color: #421475 ;
    /* background-image: url(images/1.jpg); */
    background-position: center;
    border: 20px solid #421475; 
}

.card1 img{
    width: 100%;
    height: 100%;
    margin: 0% auto; 
    
}

.card2{
    grid-area: c;
    background-color: #421475 ;
    /* background-image: url(images/2.jpg);  */
    background-position: center;
    border: 20px solid rgb(66, 20, 117);
    

}
.card2 img{
    width: 100%;
    height: 100%;
    margin: 0% auto; 
    
}

.card3{
    grid-area: d;
    background-color: #421475 ;
    /* background-image: url(images/3.jpg);   */
    background-position: center;
    background-position-y: 47%;
    border: 20px solid rgb(66, 20, 117);    
}

.card3 img{
    width: 100%;
    height: 100%;
    margin: 0% auto; 
    
}


  






