

.container{
    color: lavender;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4.75fr .5fr;
    grid-template-areas: 
    "a a a"
    "b c d"
    "e e e";
}


.top{
    grid-area: a;
    background-color: rgb(66, 20, 117);
    height: 120px;

}

.bottom{
    grid-area: e;
    background-color: rgb(66, 20, 117);
    
}

.card1{
    grid-area: b;
    background-color: aqua;
    /* background-image: url(images/1.jpg); */
    background-position: center;
    border: 20px solid rgb(66, 20, 117);

}

.card1 img{
    width: 70%;
    height: 70%;
    margin: 0% auto; 
    
}

.card2{
    grid-area: c;
    background-color: blueviolet;
    background-image: url(images/2.jpg); 
    background-position: center;
    border: 20px solid rgb(66, 20, 117);
    

}

.card3{
    grid-area: d;
    background-color: pink;
    background-image: url(images/3.jpg);  
    background-position: center;
    background-position-y: 47%;
    border: 20px solid rgb(66, 20, 117);    
}

a{
    color: red;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-justify: distribute;
    margin-left: 150px;
    margin-top: 500px;
}
  






