body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the card. 
Properties to experiment with:

border
padding
marging
height
width
*/
section {
    border: solid 1px rgb(rgb(107, 102, 102)
    padding: 10px;
}

p {
    widthL 50%
}